body {
  width: 100%;
  height: auto;
  background-image: radial-gradient(circle at top, #374A99, #37AF96);
  color: #fff;
  font-family: "Exo 2", sans-serif; }

p, h1 {
  padding-left: 10px; }

h1 {
  font-family: Vollkorn, serif;
  padding-top: 1.5rem; }

a {
  color: #fff; }
  a:hover {
    color: #fff;
    text-decoration: underline; }

.button {
  background-color: #fff;
  color: #37A696;
  font-weight: bold; }

.button:hover, .button:focus {
  background-color: #37A696;
  color: #fff; }

legend, label {
  color: #fff; }

main {
  margin: 0 auto;
  display: block; }

.intro {
  padding: 0; }

.errors p {
  color: #fffe3d;
  font-size: 1.25rem;
  font-weight: bold; }

.password {
  text-align: center;
  font-size: 3rem; }
